<table width="940" border="0" cellspacing="0" cellpadding="10">
    <tbody>
    <tr>
        <td width="150" height="30" align="left" valign="middle" style="border-right:1px solid #FFFFFF;">{quantity}</td>
        <td align="left" valign="middle" style="border-right:1px solid #FFFFFF;">{title}<br /><small>{articlenumber}</small><br />{options}</td>
        <td width="150" align="right" valign="middle" style="border-right:1px solid #FFFFFF;">{price}</td>
        <td width="150" align="right" valign="middle">{pricequantity}</td>
    </tr>
    </tbody>
</table>