<f:form action="create" objectName="newDeliverycost" controller="Deliverycost">
    <div class="neos-content neos-container-fluid">

        <div class="neos-control-group">
            <label for="name">{f:translate(id: 'deliverycostname', package: 'NeosRulez.ShoppingCart', source: 'Main')}</label>
            <f:form.textfield property="name" id="name" />
        </div>
        <div class="neos-control-group">
            <label for="minweight">{f:translate(id: 'minweight', package: 'NeosRulez.ShoppingCart', source: 'Main')}</label>
            <f:form.textfield property="minweight" id="minweight" />
        </div>
        <div class="neos-control-group">
            <label for="maxweight">{f:translate(id: 'maxweight', package: 'NeosRulez.ShoppingCart', source: 'Main')}</label>
            <f:form.textfield property="maxweight" id="maxweight" />
        </div>
        <div class="neos-control-group">
            <label for="price">{f:translate(id: 'deliverycostprice', package: 'NeosRulez.ShoppingCart', source: 'Main')}</label>
            <f:form.textfield property="price" id="price" />
        </div>
        <div class="neos-control-group">
            <label for="tax">{f:translate(id: 'deliverycosttax', package: 'NeosRulez.ShoppingCart', source: 'Main')}</label>
            <f:form.textfield property="tax" id="tax" />
        </div>
    </div>

    <div class="neos-footer">
        <f:form.submit class="neos-button neos-button-primary" value="{f:translate(id: 'newdeliverycosts', package: 'NeosRulez.ShoppingCart', source: 'Main')}" />
    </div>
</f:form>