<f:form action='updateoptionvalue' object='{optionvalue}' objectName='optionvalue'>
    <div class='neos-content neos-container-fluid'>

        <div class="neos-control-group">
            <label for="label">{f:translate(id: 'optionlabel', package: 'NeosRulez.ShoppingCart', source: 'Main')}</label>
            <f:form.textfield property="label" id="label" />
        </div>
        <div class="neos-control-group">
            <label for="value">{f:translate(id: 'optionvalue', package: 'NeosRulez.ShoppingCart', source: 'Main')}</label>
            <f:form.textfield property="value" id="value" />
        </div>
    </div>

    <div class='neos-footer'>
        <f:form.submit class="neos-button neos-button-primary" value="{f:translate(id: 'savechanges', package: 'NeosRulez.ShoppingCart', source: 'Main')}" />
    </div>
</f:form>